/* استایل‌های پیش‌فرض */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f4f4f9;
    color: #333;
    direction: rtl;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.signin-container {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 90%;
    max-width: 400px;
    transition: box-shadow 0.3s ease;
}

.signin-container:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.signin-container h1 {
    text-align: center;
    color: #1e90ff;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.2rem;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #f9f9f9;
    color: #333;
    outline: none;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

.input-group input:focus {
    border-color: #1e90ff;
    box-shadow: 0 0 5px #1e90ff;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    margin-bottom: 15px;
}

.options a {
    color: #1e90ff;
    text-decoration: none;
    transition: color 0.3s;
}

.options a:hover {
    color: #333;
}

#signinBtn {
    background: #1e90ff;
    border: none;
    color: #fff;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 1.2rem;
    width: 100%;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#signinBtn:hover {
    background: #1c86ee;
    transform: translateY(-2px);
}

/* استایل وضعیت لودینگ */
.loading-container {
    display: none; /* به صورت پیش‌فرض مخفی است */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* پس‌زمینه نیمه شفاف */
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* روی دیگر المان‌ها */
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.spinner {
    border: 8px solid #f3f3f3; /* رنگ پس‌زمینه */
    border-top: 8px solid #1e90ff; /* رنگ لبه متحرک */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media (max-width: 768px) {
    .signin-container {
        padding: 20px;
    }

    .signin-container h1 {
        font-size: 2rem;
    }

    #signinBtn {
        font-size: 1rem;
        padding: 10px;
    }
}
